<div class="container">
    <img src="../../../assets/projects-imgs/{{project.img}}" alt="{{project.name}}">
    <div class="info">
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
        <h4>Tecnología usada</h4>
        <div class="stack">
            @for(stack of project.stack; track stack.id){
                <app-stack-item [stack]="stack"></app-stack-item>
            }
        </div>
        @if(project.code || project.url) {
            <div class="btns">
                @if(project.code){
                    <a id="btn" href="{{project.code}}">Ver código</a>
                }
                @if(project.url){
                    <a id="btn" href="{{project.url}}">Ver proyecto</a>
                }
            </div>
        }
    </div>
</div>
<div class="separator"></div>