<div class="container">
    <img src="../../../assets/projects-imgs/{{project.img}}" alt="{{project.name}}">
    <div class="info">
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
        <h4>Tecnología usada</h4>
        <div class="stack">
            @for(stack of project.stack; track stack.id){
                <app-stack-item [stack]="stack"></app-stack-item>
            }
        </div>
        @if(project.code || project.url) {
            <div class="btns">
                @if(project.code){
                    <a target="_blank" id="btn" href="{{project.code}}">
                        @if(idioma == "Es"){
                            Ver código
                        }@else {
                            Code
                        }
                    </a>
                }
                @if(project.url){
                    <a target="_blank" id="btn" href="{{project.url}}">
                        @if(idioma == "Es"){
                            Ver proyecto
                        }@else {
                            Project
                        }
                    </a>
                }
            </div>
        }
    </div>
</div>
<div class="separator"></div>