<div id="component" class="container">
    <div class="header">
        <h2>Tech Stack</h2>
        <button routerLink="">Volver</button>
    </div>
    <!-- FRONT -->
    <div class="type">
        <h3>Front</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("front") || item.type?.includes("front tools")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- BACK Y DB -->
    <div class="type">
        <h3>Back y base de datos</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("back") || item.type?.includes("database")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- LENGUAJES -->
    <div class="type">
        <h3>Lenguajes</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("language") || item.type?.includes("other language")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- CLOUD -->
    <div class="type">
        <h3>Cloud</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("cloud")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- TESTING -->
    <div class="type">
        <h3>Testing</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("testing")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- CONTROL DE VERSIONES -->
    <div class="type">
        <h3>Control de versiones</h3>
        <div class="items">
            @for (item of stack; track item.id) {
                @if(item.type?.includes("versioning")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
    <!-- OTROS -->
    <div class="type">
        <h3>Otros</h3>
        <div class="items">
            @for (item of stack; track item.id){
                @if (item.type?.includes("others")) {
                    <app-stack-item
                        [stack]="item"
                    ></app-stack-item>
                }
            }
        </div>
    </div>
</div>