<div id="component">
    <h2>Stack</h2>
    <div class="stack">
        <h4>Front End</h4>
        <div class="items">
            @for (stack of stacks; track stack.id) {
                @if(stack.type?.includes("front")){
                    <app-stack-item [stack]="stack"></app-stack-item>
                }
            }
        </div>
    </div>
    <div class="stack">
        <h4>Back End</h4>
        <div class="items">
            @for (stack of stacks; track stack.id) {
                @if(stack.type?.includes("back")){
                    <app-stack-item [stack]="stack"></app-stack-item>
                }
            }
        </div>
    </div>
    <div class="stack">
        <h4>Lenguajes</h4>
        <div class="items">
            @for (stack of stacks; track stack.id) {
                @if(stack.type?.includes("language")){
                    <app-stack-item [stack]="stack"></app-stack-item>
                }
            }
        </div>
    </div>
    <div class="stack">
        <button routerLink="/stack">Ver más</button>
    </div>
</div>