.stack {
    margin: 20px 0;
}

.stack,
.items {
    display: flex;
    align-items: center;
}

h4 {
    font-size: 1.2rem;
    width: 10%;
}

.items {
    padding: 20px 0;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    h4 {
        width: auto;
    }

    .stack {
        flex-direction: column;
        align-items: flex-start;
    }
}