.item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
    box-sizing: border-box;
}

.item-nombre {
    color: #88BFCF;
    font-weight: 700;
    font-size: 0.75rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .item {
        width: 70px;
        height: 90px;
        justify-content: center;
    }
}